
.withLine {    
    & > :first-child {
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 50%;
            left: .7em;
            height: calc(50% + 30px);
            width: 4px;
            background: #33658A;
        }
    }

    & > :last-child {
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0%;
            left: .7em;
            height: 50%;
            width: 4px;
            background: #33658A;
        }
    }

}

.tripElement {
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0) 100%);
    border: 2px solid rgba(0,0,0,.02);
    border-width: 2px 0;
    /* border-radius: 5px; */
    position: relative;

    .timeIndicator {
        display: block;
        background-color: #e6e6e6;
        width: 8rem;
        height: 100%;
        margin-right: 10px;
    }

    .tripFragment {
        position: relative;   
        margin: 15px 0 15px 0; 
        align-items: center;
    }
    .stopList{
        margin-left: 2em;

        .stop {
            color: #909090;
            font-size: 1.15em;
    
            i {
                color: #33658a;
                margin-right: 5px;
            }

            .stopSubText {
                max-width:100%;
            }
        }
    }


    .info {

        $iconSize: 30px;
        $iconMargin: 15px;

        display: grid; 
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: 1fr; 
        grid-column-gap: 20px;
        grid-row-gap: 0px; 
        background-color: white;
        border: 1px solid #efefef;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.03);

        .mainPanel {
            display:flex;
        }

        .secPanel {
            display:flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;

            > * {
                display: inline-block;
            }

            .icon {
                font-size: .8em;
                color: #c2c2c2;
                margin: 0 5px 0 0;
            }

            .utilButton {
                span {
                    cursor: pointer;
                    color: #2d81c0;
                    font-size: 0.9em;
                    margin: 0 3px;
                }
            }

            .tripInfo {
                display:flex;
                justify-content: flex-end;
                flex-basis: 100%;
            }

        }

        .tripIconContainer {
            color: rgb(252, 252, 252) !important;
            background-color: #33658A;
            display: inline-block;
            border-radius: 50%;
            text-align:center;
            height: $iconSize;
            line-height: $iconSize;
            min-width: $iconSize;
            font-size: 1.6rem;
            margin: auto $iconMargin auto 0;
        }


        .legName {
            display: inline-block;
            width: auto;

            > * {
                display: block;
            }

            > small {
                color: #909090;
            }
        }

        .comment {
            $borderColor: #d4d4d4;
            $boxColor: #e0e0e0;
            $boxRadius: 10px;
            $bubbleSize: 8px;

            border: 1px solid $borderColor;
            border-radius: $boxRadius;
            background-color: $boxColor;
            margin-top: ($bubbleSize);
            margin-left: ($iconSize + $iconMargin);
            padding: $boxRadius;
            color: #5f5f5f;
            position: relative;

            &:before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: $bubbleSize  $borderColor;
                border-right: $bubbleSize solid transparent;
                border-top: $bubbleSize solid transparent;
                border-bottom: $bubbleSize solid $borderColor;
                left: $boxRadius;
                top: -($bubbleSize * 2);
            }

            &:after {
                //content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 9px solid transparent;
                border-right: 9px solid $boxColor;
                border-top: 9px solid $boxColor;
                border-bottom: 9px solid transparent;
                left: -17px;
                top: 0px;
            }

            input {
                margin: 0;
                background-color: #e4e4e4;

                &:focus {
                    border-color: #c5c2c2;
                }
            }
        }
    }
}