.tripTimeline {
    /*&:before {
        content: '';
        position: absolute;
        z-index:-1;
        top: 0;
        left: 2rem;
        height: 100%;
        width: 4px;
        background: grey;
    }*/
}
.timeInterval {
    padding: 2.5rem .5em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > :first-child {
        margin: 30% 0 0 0;
    }

    & > :last-child {
        margin: 0 0 30% 0;
    }
    .bar {
        content: '';
        z-index: -1;
        height: 100%;
        width: 2px;
        background: #33658A;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }
    .time {
        display: block;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 1.1em;
        color: #909090;
        text-shadow: 0px 1px 2px rgb(230, 230, 230);
    }
}

.tripSuperContainer {
    display:grid;
    grid-template-columns: 1fr 11fr;
}

.dayMarker {
    width: 100%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center; 

    .day{
        &:before{
            border-top: 2px solid #dfdfdf;
            content:"";
            margin: 0 auto; // Center line vertically
            position: absolute; // Position in parent must be relative
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 100%;
            z-index: -1;
        }

        padding: 0 .5em 0 .5em;
        background-color:#f9f9f9;
        text-transform: uppercase;
        font-size: 1.5em;
        color: #909090;
        text-shadow: 0px 1px 2px rgb(230, 230, 230);
    }
}